{% extends "layout.html" %}
{% block body %}

<p>アカウント登録</p>

<p>ユーザ情報を入力して下さい。</p>
<a href="{{url_for('index')}}">Topに戻る</a><br>
<a href="{{url_for('logout_route')}}">Logout</a><br>

<!-- ユーザの学年とクラスを予想した結果を表示 -->
{% if userinfo %}
	<p>{{ userinfo['department'] }}科 {{ userinfo['grade'] }}年</p>
{% endif %}

<form method="post" action="{{url_for('create_account')}}">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<div class="btn-group">
				<button class="btn btn-primary"><span id="visibleValue1">学年</span></button>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" hiddenTag="#hiddenValue1" visibleTag="#visibleValue1">
					<li><a href="javascript:void(0)" value="1年" value1="1" class="under">1年</a></li>
					<li><a href="javascript:void(0)" value="2年" value1="2" class="under">2年</a></li>
					<li><a href="javascript:void(0)" value="3年" value1="3" class="under">3年</a></li>
					<li><a href="javascript:void(0)" value="4年" value1="4" class="over">4年</a></li>
					<li><a href="javascript:void(0)" value="5年" value1="5" class="over">5年</a></li>
					<input type="hidden" id="hiddenValue1" name="grade" value="">
				</ul>
			</div>		<!-- btn-group -->
			<br></br>
			<div class="btn-group">
				<button class="btn btn-primary"><span id="visibleValue">学科</span></button>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" hiddenTag="#hiddenValue" visibleTag="#visibleValue">
					<li><a href="javascript:void(0)" value="機械工学科"				value1="M" class="other">機械工学科</a></li>
					<li><a href="javascript:void(0)" value="電気情報工学科" 		value1="E" id="elec">電気情報工学科</a></li>
					<li><a href="javascript:void(0)" value="都市システム工学科" 	value1="C" class="other">都市システム工学科</a></li>
					<li><a href="javascript:void(0)" value="建築工学科" 			value1="A" class="other">建築工学科</a></li>
					<input type="hidden" id="hiddenValue" name="department" value="">
				</ul>
			</div>		<!-- btn-group -->
		</div>			<!-- colum -->
		<div class="col-xs-3"></div>
	</div>
	<!--コース選択 ラジオボタン-->
	<div class="row" id="ko-su">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<div class="well well-small">
				<div class="row">
					<div class="col-xs-5">
						<label class="radio-inline">
							<input type="radio" name="course" value="electoric">電気・電子工学コース
						</label>
					</div>
					<div class="col-xs-1"></div>
					<div class="col-xs-6">
						<label class="radio-inline">
							<input type="radio" name="course" value="information">情報工学コース
						</label>
					</div>	<!-- colum -->
				</div>		<!-- row -->
			</div>			<!-- well -->
		</div>			<!-- colum -->
		<div class="col-xs-3"></div>
	</div>				<!-- row -->
	<!--性別 ラジオボタン-->
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-5">
					<label class="radio-inline">
						<input type="radio" name="sex" value="male" checked>男
					</label>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-6">
					<label class="radio-inline">
						<input type="radio" name="sex" value="female">女
					</label>
				</div>	<!-- colum -->
			</div>		<!-- row -->
		</div>			<!-- colum -->
		<div class="col-xs-3"></div>
	</div>				<!-- row -->
	<!--留学生 チェックボックス-->
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-3">
			<label class="checkbox">
				<input type="checkbox" name="abroad" value="abroad">留学生
			</label>
		</div>			<!--colum-->
		<div class="col-xs-3"></div>
		<div class="col-xs-3"></div>
	</div>				<!-- row -->
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<center>
				<input type="submit" value="登録" class="btn btn-primary">
			</center>
		</div>			<!-- colum -->
		<div class="col-xs-4"></div>
	</div>				<!-- row -->
</form>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript">
	var nen;
	var gakka;
	$(function(){
			$('#ko-su').css("display","none");
			});

$(function(){
		$('.dropdown-menu a').click(function(){
			//反映先の要素名を取得
			var visibleTag = $(this).parents('ul').attr('visibleTag');
			var hiddenTag = $(this).parents('ul').attr('hiddenTag');
			//選択された内容でボタンの表示を変える
			$(visibleTag).html($(this).attr('value'));
			//選択された内容でhidden項目の値を変える
			$(hiddenTag).val($(this).attr('value1'));
			})
		});

$('.over').click(function(){
		nen=true;
		judge();
		});

$('.under').click(function(){
		nen=false;
		judge();
		});

$('.other').click(function(){
		gakka="other";
		judge();
		});

$('#elec').click(function(){
		gakka="ele";
		judge();
		});

function judge(){
	if(gakka=="ele"){
		if(nen){
			$('#ko-su').fadeIn(500);
		}else{
			$('#ko-su').fadeOut(500);
		}
	}else{
		$('#ko-su').fadeOut(500);
	}
}
</script>

{% endblock %}
