{% extends "layout.html" %}
{% block body %}

<a href="{{url_for('weeklymenu')}}">週替わりメニュー登録画面</a><br>
<a href="{{url_for('logout_route')}}">Logout</a><br>


<center><h3>日替わりメニュー</h3></center>

<form method="post" action="{{url_for('dailymenu')}}">
	<!--Aセット-->
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-2">
			<label class="inline"><p><h4>Aセット</h4></p></label>
		</div>
		<div class="col-xs-4">
			<input type="text" name="amenu">
		</div>				<!-- colum -->
		<div class="col-xs-3"></div>
	</div>					<!-- row -->
	<br></br>

	<!-- Bセット -->
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-2">
			<label class="inline"><p><h4>Bセット</h4></p></label>
		</div>
		<div class="col-xs-4">
			<label class="inline"><input type="text" name="bmenu"></label>
		</div>				<!-- colum -->
		<div class="col-xs-3"></div>
	</div>					<!-- row -->
	<br></br>


	<!-- 日付入力 -->
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-3">
			<p><h4>日付</h4></p>
		</div>
		<div class="col-xs-3">
			<div class="btn-group">
				<button class="btn btn-primary"><span id="visibleValue1">日付</span></button>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" id="grade" role="menu" hiddenTag="#hiddenValue1" visibleTag="#visibleValue1">
					{% for day in weekdays %}
						<li><a href="javascript:void(0)" value= "{{day["month"]}}月{{day["day"]}}日" value1="{{day["year"]}}-{{day["month"]}}-{{day["day"]}}">{{day["month"]}}月{{day["day"]}}日</a></li>
						{% endfor %}
					<input type="hidden" id="hiddenValue1" name="date" value="">
				</ul>
			</div>		<!-- btn-group -->
		</div>
		<div class="col-xs-3"></div>
	</div> <!-- row-->

	<br>
	<input type="submit" value="アップロード" class="btn btn-primary btn-small btn-block">
</form>


<!-- used maxcdn
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
-->

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$('#header').click(function(){
		$('#header').css("background-color","blue");
	})

	$(function(){
		$('.dropdown-menu a').click(function(){
		//反映先の要素名を取得
		var visibleTag = $(this).parents('ul').attr('visibleTag');
		var hiddenTag = $(this).parents('ul').attr('hiddenTag');
		//選択された内容でボタンの表示を変える
		$(visibleTag).html($(this).attr('value'));
		//選択された内容でhidden項目の値を変える
		$(hiddenTag).val($(this).attr('value1'));
	  })
	});
</script>

{% endblock %}
