{% extends "layout.html" %}
{% block body %}

<div class="row">

	{% if admin %}
		<a href="{{url_for('dailymenu')}}">日替わりメニュー登録画面</a><br>
		<a href="{{url_for('weeklymenu')}}">週替わりメニュー登録画面</a><br>
	{% endif %}

	{% if weekday == 6 %}
		<p>今日は土曜日です.授業はありません</p>
	{% elif weekday == 6 %}
		<p>今日は日曜日です.授業はありません</p>
	{% endif %}

	<a href="{{url_for('logout_route')}}">Logout</a><br><br><br><br>

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">x</a>
					<h3>今日の献立</h3>
				</div>
				<div class="modal-body">

					{% if lunchs['aset'] != None %}
						<p>{{lunchs['aset']}}  350円</p>
					{% else %}
						<p>今日のAセットは登録されていません.</p>
					{% endif %}
					{% if lunchs['bset'] != None %}
						<p>{{lunchs['bset']}}  350円</p>
					{% else %}
						<p>今日のBセットは登録されていません.</p>
					{% endif %}
					{% if lunchs['don'] != None %}
						<p>{{lunchs['don']}}  350円</p>
					{% else %}
						<p>今週の丼メニューは登録されていません.</p>
					{% endif %}
					{% if lunchs['ramen'] != None %}
						<p>{{lunchs['ramen']}}  350円</p>
					{% else %}
						<p>今週のラーメンメニューは登録されていません.</p>
					{% endif %}

					<br>
					<p>カツ丼  500円</p>
					<p>カツ丼  500円</p>
					<p>カツ丼  500円</p>
					<p>カツ丼  500円</p>
					<p>カツ丼  500円</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn">閉じる</a>
				</div>
			</div>
		</div>
	</div>

	<!-- 時間割・献立 -->

	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<table class="table table-bordered text-center">
				<tbody>
					{% for timetable in timetables %}
						<tr class="active">
							<td><a type="button" class="btn btn-lg" target="_blank" href="{{timetable.syllabus}}">{{timetable.name}}</a></td>
						</tr>
						{% if timetable.endtime == 2 %}<!-- 2限と3限の間に昼ごはんを挿入 -->
							<tr>
								<td><a class="btn btn-lg" data-toggle="modal" href="#myModal">昼ご飯</a></td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

{% endblock %}
