{% extends "layout.html" %}
{% block body %}

<a href="{{url_for('dailymenu')}}">日替わりメニュー登録画面</a><br>
<a href="{{url_for('logout_route')}}">Logout</a><br>


<center><h3>週替わりメニュー</h3></center>


<form method="post" action="{{url_for('weeklymenu')}}">
<!--定食選択-->
<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-2">
		<label class="inline"><p><h4>週替わり丼</h4></p></label>
	</div>
	<div class="col-xs-4">
		<label class="inline"><input type="text" name="don"></label>
	</div>				<!-- colum -->
	<div class="col-xs-3"></div>
</div>					<!-- row -->
<br>

<!-- メニュー名入力 -->
<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-2">
		<label class="inline"><p><h4>ラーメン</h4></p></label>
	</div>
	<div class="col-xs-4">
		<label class="inline"><input type="text" name="ramen"></label>
	</div>				<!-- colum -->
	<div class="col-xs-3"></div>
</div>					<!-- row -->
<br>

<!-- 期間選択 -->
<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-3">
		<p><h4>期間</h4></p>
	</div>
	<div class="col-xs-3">
		<div class="btn-group">
			<button class="btn btn-primary"><span id="visibleValue1">期間</span></button>
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" id="grade" role="menu" hiddenTag="#hiddenValue1" visibleTag="#visibleValue1">
				{% for monday in mondays %}
				<li><a href="javascript:void(0)" value= "{{monday["start_month"]}}月{{monday["start_day"]}}日(月) - {{monday["end_month"]}}月{{monday["end_day"]}}日(金)" value1="{{monday["start_year"]}}-{{monday["start_month"]}}-{{monday["start_day"]}}">{{monday["start_month"]}}月{{monday["start_day"]}}日(月) - {{monday["end_month"]}}月{{monday["end_day"]}}日(金)</a></li>
				{% endfor %}
				<input type="hidden" id="hiddenValue1" name="start_date" value="">
			</ul>
		</div>		<!-- btn-group -->
	</div>
	<div class="col-xs-3"></div>
</div><!-- row-->				<!-- 期間選択のボタン　レイアウト終了 -->

<input type="submit" value="アップロード" class="btn btn-primary btn-small btn-block">
</form>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$('#header').click(function(){
		$('#header').css("background-color","blue");
	})

	$(function(){
		$('.dropdown-menu a').click(function(){
		//反映先の要素名を取得
		var visibleTag = $(this).parents('ul').attr('visibleTag');
		var hiddenTag = $(this).parents('ul').attr('hiddenTag');
		//選択された内容でボタンの表示を変える
		$(visibleTag).html($(this).attr('value'));
		//選択された内容でhidden項目の値を変える
		$(hiddenTag).val($(this).attr('value1'));
	  })
	});
</script>

{% endblock %}
